Repository Nathandona/Orba, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, database, dependencies, ci/cd, styling

.github/labeler.yml:

# Auto-label configuration for PRs
documentation:
  - '**/*.md'
  - 'docs/**/*'

frontend:
  - 'app/**/*'
  - 'components/**/*'

backend:
  - 'app/api/**/*'
  - 'lib/**/*'

database:
  - 'prisma/**/*'

dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

ci/cd:
  - '.github/**/*'

styling:
  - '**/*.css'
  - 'tailwind.config.*'

Add pnpm workspace configuration to specify built dependencies
  pnpm-workspace.yaml
Labels: none

Add OAuth support for GitHub and Google sign-in on the login page; update authentication options and user model to allow optional password
  .cursor/mcp.json
  app/login/page.tsx
  lib/auth-options.ts
  prisma/schema.prisma
Labels: frontend, backend, database

Add OAuth sign-in options for GitHub and Google on the registration page; enhance error handling on the login page and update authentication callbacks
  app/login/page.tsx
  app/register/page.tsx
  lib/auth-options.ts
Labels: frontend, backend

Add Alert and Separator components to login and registration pages; enhance error display with new alert styling
  app/login/page.tsx
  app/register/page.tsx
  components/ui/alert.tsx
Labels: frontend

Refactor login page to use Suspense for loading state; separate LoginForm component for improved structure
  app/login/page.tsx
Labels: frontend

Add Stripe integration for subscription management; implement checkout and customer portal routes, update user and subscription models, and enhance pricing page with error handling and loading states
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  app/api/stripe/webhook/route.ts
  app/page.tsx
  app/pricing/page.tsx
  app/profile/page.tsx
  components/profile-content.tsx
  lib/stripe-client.ts
  lib/stripe.ts
  lib/subscription.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Labels: frontend, backend, database, dependencies

Refactor Stripe webhook handling to improve type safety; update subscription retrieval logic and handle potential undefined values for subscription IDs
  app/api/stripe/webhook/route.ts
Labels: frontend, backend

Enhance type safety in Stripe webhook handling; update subscription retrieval to use explicit types and streamline subscription ID handling
  app/api/stripe/webhook/route.ts
Labels: frontend, backend

Update Stripe API version and adjust subscription current period end retrieval in webhook handling to ensure accurate data extraction from subscription items
  app/api/stripe/webhook/route.ts
  lib/stripe.ts
Labels: frontend, backend

Refactor subscription ID retrieval in Stripe webhook handling to accommodate potential undefined values, enhancing type safety and ensuring accurate data extraction.
  app/api/stripe/webhook/route.ts
Labels: frontend, backend

Refactor user subscription retrieval to improve type safety; ensure subscription object is defined before accessing properties and streamline the return structure for clarity.
  lib/subscription.ts
Labels: backend

Implement session-based navigation in Home, Features, and CTA components; update buttons to link to Dashboard or registration based on user authentication status.
  app/features/page.tsx
  app/page.tsx
  components/cta-section.tsx
Labels: frontend

Add Radix UI Dialog component; update package.json and pnpm-lock.yaml to include @radix-ui/react-dialog
  components/ui/dialog.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

Implement contact sales dialog in pricing page; add form handling for inquiries and update button behavior based on user session status.
  app/pricing/page.tsx
Labels: frontend

Refactor pricing page to utilize ContactSalesDialog for inquiries; remove inline form handling and enhance button behavior for better user experience.
  app/pricing/page.tsx
  components/contact-sales-dialog.tsx
  components/cta-section.tsx
Labels: frontend

Add contact form API endpoint and integrate with ContactSalesDialog; implement form validation and database submission for inquiries.
  app/api/contact/route.ts
  components/contact-sales-dialog.tsx
  prisma/schema.prisma
Labels: frontend, backend, database

Update package.json to change 'db:generate' script to 'postinstall' for automatic Prisma generation after installation
  package.json
Labels: dependencies

Remove "Watch Demo" button from the Home page for a cleaner user interface.
  app/page.tsx
Labels: frontend

Add project and task management API endpoints; implement CRUD operations for projects and tasks, including user authentication and ownership verification.
  app/api/projects/[id]/route.ts
  app/api/projects/[id]/tasks/route.ts
  app/api/projects/route.ts
  app/api/tasks/[id]/route.ts
  app/dashboard/page.tsx
  app/dashboard/project/[id]/page.tsx
  components/dashboard-content.tsx
  components/kanban-board.tsx
  prisma/schema.prisma
Labels: frontend, backend, database

Implement New Project dialog component; replace "New Project" button in Dashboard with dialog trigger for improved project creation experience.
  components/dashboard-content.tsx
  components/new-project-dialog.tsx
Labels: frontend

Add @radix-ui/react-select package and implement Select component; update package.json and pnpm-lock.yaml to include new dependencies.
  components/ui/select.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

Implement NewTaskDialog component for task creation; integrate with KanbanColumn and KanbanBoard to handle new task submissions and update task state accordingly.
  components/kanban-board.tsx
  components/kanban-column.tsx
  components/new-task-dialog.tsx
Labels: frontend

Update error handling in profile PUT method to use 'error.issues' instead of 'error.errors' for improved validation feedback.
  app/api/profile/route.ts
Labels: frontend, backend

Add Terms of Service page; implement layout and content sections detailing user agreements, licenses, and policies for service usage.
  app/terms/page.tsx
Labels: frontend

Add Privacy Policy page; implement layout and content sections detailing data collection, usage, sharing, and user rights to enhance user transparency and compliance with privacy regulations.
  app/privacy/page.tsx
Labels: frontend

Update task status query to filter by column title 'Done' instead of status; enhance task counting logic in profile stats API.
  app/api/profile/stats/route.ts
Labels: frontend, backend

Enhance error handling in task and column update APIs to check for specific error object structure; return appropriate conflict messages for existing titles and identifiers.
  app/api/projects/[id]/columns/[columnId]/route.ts
  app/api/projects/[id]/tasks/route.ts
Labels: frontend, backend

Refine error handling in column creation API to ensure proper structure check for unique title conflicts; return specific conflict message for existing titles.
  app/api/projects/[id]/columns/route.ts
Labels: frontend, backend

Refactor task retrieval logic in project API to include column title in task filtering; update tasksCompleted calculation to check for 'done' status based on column title.
  app/api/projects/[id]/route.ts
Labels: frontend, backend

Update project API to include column title in task filtering; modify tasksCompleted calculation to check for 'done' status based on column title instead of task status.
  app/api/projects/route.ts
Labels: frontend, backend

Refactor task status assignment in DashboardContent to derive status from column title, enhancing clarity and consistency in task representation.
  components/dashboard-content.tsx
Labels: frontend

Refactor recent tasks retrieval in DashboardPage to transform data for consistent interface; update DashboardContent to utilize pre-transformed tasks, improving clarity and reducing redundancy.
  app/dashboard/page.tsx
  components/dashboard-content.tsx
Labels: frontend

Transform task data structure in ProjectPage to align with KanbanBoard requirements; map task columns to statuses for improved task representation and consistency.
  app/dashboard/project/[id]/page.tsx
Labels: frontend

Update task counting logic in ProfilePage to filter by column title 'done' instead of task status, ensuring consistency with KanbanBoard structure.
  app/profile/page.tsx
Labels: frontend

Add documentation layout and home page components; enhance Navbar with a link to documentation
  app/docs/layout.tsx
  app/docs/page.tsx
  components/navbar.tsx
Labels: frontend

Remove Navbar component from DocsLayout and add rewrites configuration in next.config for handling subdomains and improving SEO
  app/docs/layout.tsx
  next.config.ts
Labels: frontend

Enhance Navbar component to conditionally render styles based on the current pathname, improving visual consistency on the home page.
  components/navbar.tsx
Labels: frontend

Refactor Home and FloatingCards3D components for improved layout and visual consistency; enhance 3D card arrangement and adjust lighting settings.
  app/page.tsx
  components/floating-cards-3d.tsx
Labels: frontend

Refactor FloatingCards3D component to enhance mouse tracking and theme-aware rendering; improve KanbanCard structure and animations for better visual interaction.
  components/floating-cards-3d.tsx
Labels: frontend

Add rewrite rule for root path on docs subdomain to redirect to /docs
  next.config.ts
Labels: none
