Repository Nathandona/Orba, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, database, dependencies, ci/cd, styling

.github/labeler.yml:

# Auto-label configuration for PRs
documentation:
  - '**/*.md'
  - 'docs/**/*'

frontend:
  - 'app/**/*'
  - 'components/**/*'

backend:
  - 'app/api/**/*'
  - 'lib/**/*'

database:
  - 'prisma/**/*'

dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

ci/cd:
  - '.github/**/*'

styling:
  - '**/*.css'
  - 'tailwind.config.*'

Implement DocsNavbar component and update layout for documentation; add middleware for subdomain handling and enhance metadata configuration.
  app/docs/layout.tsx
  app/layout.tsx
  components/docs-navbar.tsx
  middleware.ts
  next.config.ts
Labels: frontend

Add default columns creation for new projects in POST route
  app/api/projects/route.ts
Labels: frontend, backend

Enhance task management: validate column existence on task updates, improve drag-and-drop behavior, and refine UI interactions in Kanban components.
  app/api/tasks/[id]/route.ts
  components/kanban-board.tsx
  components/kanban-column.tsx
Labels: frontend, backend

Refactor KanbanBoard component: replace Filter button with Add Column card, enhance UI for adding columns with improved animations and styling.
  components/kanban-board.tsx
Labels: frontend

Refactor KanbanBoard layout: replace grid with flexbox for improved responsiveness and add horizontal scrolling for better column visibility.
  components/kanban-board.tsx
Labels: frontend

Implement toast notifications across components for improved user feedback on actions
  app/layout.tsx
  components/add-column-dialog.tsx
  components/column-menu.tsx
  components/contact-sales-dialog.tsx
  components/dashboard-content.tsx
  components/edit-task-dialog.tsx
  components/kanban-board.tsx
  components/kanban-card.tsx
  components/kanban-column.tsx
  components/new-project-dialog.tsx
  components/new-task-dialog.tsx
  components/ui/toast.tsx
Labels: frontend

Enhance mobile experience: add utilities for hiding scrollbars, improve touch targets, and implement responsive design adjustments across components.
  app/globals.css
  components/dashboard-navbar.tsx
  components/kanban-board.tsx
  components/kanban-card.tsx
  components/kanban-column.tsx
Labels: frontend, styling

Enhance subscription management: implement tier limits for projects and team members, update UI to reflect limits, and improve error handling for exceeding limits.
  app/api/projects/[id]/members/route.ts
  app/api/projects/route.ts
  app/pricing/page.tsx
  components/dashboard-content.tsx
  components/new-project-dialog.tsx
  components/team-dialog.tsx
Labels: frontend, backend

Add ErrorBoundary and PerformanceMonitor components for improved error handling and performance metrics
  components/error-boundary.tsx
  components/performance-monitor.tsx
Labels: frontend

feat(api): add endpoint to fetch active and public project templates
  app/api/projects/route.ts
  app/api/templates/route.ts
  app/page.tsx
  components/cta-section.tsx
  components/dashboard-content.tsx
  components/floating-cards-3d.tsx
  components/new-project-dialog.tsx
  next.config.ts
  prisma/schema.prisma
Labels: frontend, backend, database

add of the file specification technique
  SPECIFICATIONS.md
Labels: documentation

Rename SPECIFICATIONS.md to CahierDesCharges.md
  CahierDesCharges.md
Labels: documentation

feat(docs): add documentation pages and sidebar component
  app/docs/authentication/page.tsx
  app/docs/collaboration/page.tsx
  app/docs/faq/page.tsx
  app/docs/getting-started/page.tsx
  app/docs/layout.tsx
  app/docs/page.tsx
  app/docs/projects/page.tsx
  app/docs/shortcuts/page.tsx
  app/docs/subscription/page.tsx
  app/docs/tips/page.tsx
  app/docs/troubleshooting/page.tsx
  app/docs/user-guide/page.tsx
  components/docs-sidebar.tsx
Labels: frontend

feat(docs-sidebar): add back to app and github links to sidebar
  app/docs/authentication/page.tsx
  app/docs/collaboration/page.tsx
  app/docs/faq/page.tsx
  app/docs/getting-started/page.tsx
  app/docs/layout.tsx
  app/docs/page.tsx
  app/docs/projects/page.tsx
  app/docs/shortcuts/page.tsx
  app/docs/subscription/page.tsx
  app/docs/tips/page.tsx
  app/docs/troubleshooting/page.tsx
  app/docs/user-guide/page.tsx
  components/docs-sidebar.tsx
Labels: frontend

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Labels: dependencies

update
  .playwright-mcp/console-2026-04-27T11-01-37-740Z.log
  .playwright-mcp/page-2026-04-27T11-01-40-174Z.yml
  app/features/page.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/pricing/page.tsx
  app/privacy/page.tsx
  app/terms/page.tsx
  components/cta-section.tsx
  components/error-boundary.tsx
  components/floating-cards-3d-static.tsx
  components/floating-cards-3d.tsx
  components/footer.tsx
  components/marketing/bento.tsx
  components/marketing/cta-band.tsx
  components/marketing/display-heading.tsx
  components/marketing/eyebrow.tsx
  components/marketing/faq-accordion.tsx
  components/marketing/feature-card.tsx
  components/marketing/kanban-mockup.tsx
  components/marketing/legal-page.tsx
  components/marketing/marquee-logos.tsx
  components/marketing/pricing-card.tsx
  components/marketing/pricing-matrix.tsx
  components/marketing/section.tsx
  components/marketing/stat-block.tsx
  components/marketing/testimonial.tsx
  components/navbar.tsx
  components/ui/accordion.tsx
  lib/motion.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Labels: frontend, backend, dependencies, styling

Refactor documentation pages and components for improved structure and usability
  app/docs/authentication/page.tsx
  app/docs/collaboration/page.tsx
  app/docs/faq/page.tsx
  app/docs/getting-started/page.tsx
  app/docs/layout.tsx
  app/docs/page.tsx
  app/docs/projects/page.tsx
  app/docs/shortcuts/page.tsx
  app/docs/subscription/page.tsx
  app/docs/tips/page.tsx
  app/docs/troubleshooting/page.tsx
  app/docs/user-guide/page.tsx
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
  components/docs-sidebar.tsx
  components/docs/doc-callout.tsx
  components/docs/doc-card-link.tsx
  components/docs/doc-faq.tsx
  components/docs/doc-footer.tsx
  components/docs/doc-list.tsx
  components/docs/doc-page.tsx
  components/docs/doc-section.tsx
  components/docs/kbd.tsx
  components/navbar.tsx
Labels: frontend

Add Vercel Analytics integration to layout and update dependencies
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

Add viewport configuration and enhance mobile navigation in Navbar component
  app/layout.tsx
  components/marketing/kanban-mockup.tsx
  components/navbar.tsx
Labels: frontend

docs: rewrite README and add banner
  README.md
  public/banner.svg
Labels: documentation
